<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Login Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div>
    <img src="../../../assets/img/autenticacion-cero-factores-1200x675.webp" alt="">
 </div>
 <div>
   <ion-list>
    <ion-item> <ion-input [(ngModel)]="usuario" label="Usuario:" placeholder="ingrese usuario"></ion-input></ion-item>
    <ion-item> <ion-input [(ngModel)]="contrasena" type="password" label="Contraseña:" placeholder="ingrese contraseña"></ion-input></ion-item>
    <ion-item> <ion-button (click)="validar()">Aceptar</ion-button></ion-item>
   </ion-list>
 </div>

</ion-content>
